<!DOCTYPE html>
<html>
  <head>
    <title>BigDataClass.org | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/js/subnav.js"></script>

    <script src="{{ site.baseurl }}/js/main.js"></script>

  </head>
  <body onload="main()">

 <div class="navbar navbar-inverse navbar-fixed-top">
  <a href="https://github.com/stratosphere/bigdataclass.org">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/index.html"><i class="icon-home"></i> BigDataClass.org</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{site.baseurl}}/gettingstarted.html">Getting Started</a></li>
			<li><a href="{{site.baseurl}}/basics_WC.html"><strong>Basics</strong>: Word Count</a></li>
			<li><a href="{{site.baseurl}}/basics_approxPi.html"><strong>Basics</strong>: Pi estimation</a></li>
            <li><a href="{{site.baseurl}}/exercise_1.html"><strong>Exercise I-1</strong>: Tf-Idf (Java)</a></li>
            <li><a href="{{site.baseurl}}/exercise_2.html"><strong>Exercise I-2</strong>: Tf-Idf (Scala)</a></li>
			<li><a href="{{site.baseurl}}/exercise_II_Trig_enum.html"><strong>Exercise II</strong>: Triangle enumeration</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container content">
{{ content }}

      <p class="text-right"><a href="{{site.baseurl}}/legal.html">Legal</a></p>

    </div>




    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44453418-2']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

  </body>
</html>